.appWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
input {
  background: none;
  border: 2px #93c843 solid;
  border-radius: 7px;
  margin: 4px;
  color: #11130e;
}
button {
  border-radius: 10px;
  border: 2px #93c843 solid;
  color: #35570a solid;
  background: none;
  cursor: grabbing;
  background-color: #93c843;
  margin: 4px;
}
form {
  display: flex;
  flex-wrap: wrap;
}
